streamlit==0.53.0
matplotlib==3.0.0
mysql==5.7.24
numpy==1.18.1
pandas==1.0.3
python==3.7.7
requests==2.23.0
scikit-image==0.16.2
scikit-learn==0.22
scikit-surprise==1.1.0
scipy==1.4.1
seaborn==0.10.1
spacy==2.2.3
sqlite==3.31.1